<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse">
  <div class="position-sticky pt-3">
    <ul class="nav flex-column">
      <li class="nav-item">
        <%= link_to root_path, class: "nav-link #{'active' if active_link?(controllers: ['home'], actions: ['index'])}" do %>
          <i class="fas fa-home"></i>
          <%= t('buttons.home') %>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to reports_path, class: "nav-link #{'active' if active_link?(controllers: ['reports'], actions: ['index', 'show'])}" do %>
          <i class="fas fa-file"></i>
          <%= t('buttons.report') %>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to uploads_path, class: "nav-link #{'active' if active_link?(controllers: ['uploads'], actions: ['index'])}" do %>
          <i class="fas fa-upload"></i>
          <%= t('buttons.upload') %>
        <% end %>
      </li>
    </ul>
  </div>
</nav>
